<!doctype html>
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="base.min.css" />
    <link rel="stylesheet" href="fancy.min.css" />
    <link rel="stylesheet" href="main.css" />
    <script src="compatibility.min.js"></script>
    <script src="theViewer.min.js"></script>
    <script>
      try {
        theViewer.defaultViewer = new theViewer.Viewer({})
      } catch (e) {}
    </script>
    <title></title>
  </head>
  <body>
    <div id="sidebar">
      <div id="outline"></div>
    </div>
    <div id="page-container">
      <div id="pf1" class="pf w0 h0" data-page-no="1">
        <div class="pc pc1 w0 h0">
          <img class="bi x0 y0 w1 h0" alt="" src="bg1.png" />
          <div class="c x1 y1 w2 h1">
            <div class="t m0 x2 h2 y2 ff1 fs0 fc0 sc0 ls0 ws0">From:</div>
          </div>
          <div class="c x3 y3 w3 h3">
            <div class="t m0 x0 h4 y4 ff1 fs0 fc1 sc0 ls1 ws0">
              &quot;<span class="ff2 ls2">ГК</span
              ><span class="ls3">
                <span class="ff2 ls4">ГАВон</span
                ><span class="ls5">&quot; &lt;akron-l@yandex.ru&gt;</span></span
              >
            </div>
          </div>
          <div class="t m0 x4 h2 y5 ff1 fs0 fc0 sc0 ls6 ws0">To:</div>
          <div class="c x3 y6 w3 h3">
            <div class="t m0 x0 h4 y4 ff1 fs0 fc1 sc0 ls1 ws0">
              &quot;<span class="ff2 ls7">Сычев</span
              ><span class="ls3">
                <span class="ff2 ls8">Егор</span>
                <span class="ff2 ls9">Пидарасович</span
                ><span class="lsa"
                  >&quot; &lt;ed.sychev@kscgroup.ru&gt;</span
                ></span
              >
            </div>
          </div>
          <div class="t m0 x5 h2 y7 ff1 fs0 fc0 sc0 lsb ws0">
            Date:<span class="_ _0"> </span
            ><span class="lsc">1/27/2025 7:44:36 AM</span>
          </div>
          <div class="t m0 x6 h4 y8 ff1 fs0 fc0 sc0 lsd ws0">
            Subject:<span class="_ _0"> </span
            ><span class="ff2 lse">Запрос</span
            ><span class="ls3"> <span class="ff2 lsf">КП</span></span>
          </div>
          <div class="t m0 x7 h4 y9 ff1 fs0 fc0 sc0 ls10 ws0">
            Attachments:<span class="_ _0"> </span
            ><span class="ff2 fc1 lsf"
              >КП<span class="ff1 ls3"> </span
              ><span class="ls11"
                >для<span class="ff1 ls3"> </span
                ><span class="ls12"
                  >КМТ<span class="ff1 ls13"> </span
                  ><span class="ls14"
                    >от<span class="ff1 lsc"> 27.01.25_</span
                    ><span class="ls15"
                      >апрель<span class="ff1 ls16">.pdf</span></span
                    ></span
                  ></span
                ></span
              ></span
            >
          </div>
          <div class="c x3 ya w3 h3">
            <div class="t m0 x0 h4 y4 ff2 fs0 fc1 sc0 lsf ws0">
              КП<span class="ff1 ls13"> </span
              ><span class="ls17"
                >для<span class="ff1 ls13"> </span
                ><span class="ls12"
                  >КМТ<span class="ff1 ls3"> </span
                  ><span class="ls14"
                    >от<span class="ff1 lsc"> 27.01.25_</span
                    ><span class="ls18"
                      >май<span class="ff1 ls19">.pdf</span></span
                    ></span
                  ></span
                ></span
              >
            </div>
          </div>
          <div class="c x3 yb w3 h3">
            <div class="t m0 x0 h4 y4 ff2 fs0 fc1 sc0 lsf ws0">
              КП<span class="ff1 ls13"> </span
              ><span class="ls17"
                >для<span class="ff1 ls13"> </span
                ><span class="ls12"
                  >КМТ<span class="ff1 ls3"> </span
                  ><span class="ls14"
                    >от<span class="ff1 lsc"> 27.01.25_</span
                    ><span class="ls1a"
                      >март<span class="ff1 ls16">.pdf</span></span
                    ></span
                  ></span
                ></span
              >
            </div>
          </div>
          <div class="c x3 yc w3 h3">
            <div class="t m0 x0 h4 y4 ff2 fs0 fc1 sc0 lsf ws0">
              КП<span class="ff1 ls3"> </span
              ><span class="ls11"
                >для<span class="ff1 ls3"> </span
                ><span class="ls12"
                  >КМТ<span class="ff1 ls13"> </span
                  ><span class="ls14"
                    >от<span class="ff1 lsc"> 27.01.25_</span
                    ><span class="ls1b"
                      >февраль<span class="ff1 ls19">.pdf</span></span
                    ></span
                  ></span
                ></span
              >
            </div>
          </div>
          <div class="c x8 y1 w4 h5">
            <div class="t m0 x0 h2 yd ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x0 h4 ye ff2 fs0 fc0 sc0 ls1d ws0">
              Добрый<span class="ff1 ls13"> </span
              ><span class="ls1e"
                >день (пощел нахуй)<span class="ff1 ls3">!</span></span
              >
            </div>
            <div class="t m0 x0 h4 yf ff2 fs0 fc0 sc0 lsf ws0">
              КП<span class="ff1 ls3"> </span
              ><span class="ls1f"
                >с<span class="ff1 ls13"> </span
                ><span class="ls20"
                  >разбивкой<span class="ff1 ls3"> </span
                  ><span class="ls21"
                    >сроков<span class="ff1 ls3"> </span
                    ><span class="ls22"
                      >изготовления<span class="ff1 ls13"> </span
                      ><span class="ls23"
                        >по<span class="ff1 ls13"> </span
                        ><span class="ls24"
                          >месяцам<span class="ff1 ls13"> </span
                          ><span class="ls25"
                            >во<span class="ff1 ls3"> </span
                            ><span class="ls1e">вложении</span></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 h2 y10 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x0 h2 y11 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x0 h2 y12 ff1 fs0 fc0 sc0 ls26 ws0">
              ----------------
            </div>
            <div class="t m0 x0 h4 y13 ff2 fs0 fc0 sc0 ls27 ws0">
              Кому<span class="ff1 lsf"
                >:
                <span class="fc1 ls28"
                  >konstruktor.akronika@yandex.ru<span class="_ _1">
                  </span></span
                ><span class="ls29">
                  (<span class="fc1 ls2a"
                    >konstruktor.akronika@yandex.ru<span class="_ _2">
                    </span></span
                  >);</span
                ></span
              >
            </div>
            <div class="t m0 x0 h4 y14 ff2 fs0 fc0 sc0 ls2b ws0">
              Тема<span class="ff1 lsf">: </span
              ><span class="lse"
                >Запрос<span class="ff1 ls13"> </span
                ><span class="ls3"
                  >КП<span class="ff1 ls13">;</span></span
                ></span
              >
            </div>
            <div class="t m0 x0 h4 y15 ff1 fs0 fc0 sc0 ls2c ws0">
              27.01.2025, 08:44, &quot;<span class="ff2 ls2d">ГК</span
              ><span class="ls2e">
                &quot;<span class="ff2 ls4">Акрон</span
                ><span class="ls2f"
                  >&quot;&quot; &lt;<span class="fc1 ls30"
                    >akron-l@yandex.ru<span class="_ _3"> </span></span
                  ><span class="ls1c">&gt;:</span></span
                ></span
              >
            </div>
            <div class="t m0 x1 h2 y16 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x1 h2 y17 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x1 h6 y18 ff3 fs1 fc0 sc0 ls31 ws0">
              Добрый<span class="ff4 ls32"> </span
              ><span class="ls33">день<span class="ff4 ls34">!</span></span>
            </div>
            <div class="t m0 x1 h6 y19 ff3 fs1 fc0 sc0 ls35 ws0">
              Прошу<span class="ff4 ls36"> </span
              ><span class="ls37"
                >прислать<span class="ff4 ls36"> </span
                ><span class="ls38"
                  >КП<span class="ff4 ls32"> </span
                  ><span class="ls39"
                    >на<span class="ff4 ls32"> </span
                    ><span class="ls3a"
                      >следующие<span class="ff4 ls36"> </span
                      ><span class="ls3b">позиции</span></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 h6 y1a ff4 fs1 fc0 sc0 ls3c ws0">\~</div>
            <div class="t m0 x1 h7 y1b ff5 fs2 fc2 sc0 ls3d ws0">С</div>
            <div class="t m1 x8 h8 y1b ff1 fs3 fc2 sc0 ls3e ws0"></div>
            <div class="t m0 x9 h7 y1b ff5 fs2 fc2 sc0 ls3f ws0">уважением</div>
            <div class="t m1 xa h8 y1b ff1 fs3 fc2 sc0 ls3e ws0">,</div>
            <div class="t m0 x1 h7 y1c ff5 fs2 fc2 sc0 ls40 ws0">
              Сычев<span class="ff6 ls41"> </span
              ><span class="ls42"
                >Егор<span class="ff6 ls41"> </span
                ><span class="ls43">Дмитриевич</span></span
              >
            </div>
            <div class="t m0 x1 h7 y1d ff5 fs2 fc2 sc0 ls44 ws0">
              Ведущий<span class="ff6 ls45"> </span
              ><span class="ls46"
                >менеджер<span class="ff6 ls41"> </span
                ><span class="ls47">группы</span></span
              >
            </div>
            <div class="t m0 x1 h7 y1e ff5 fs2 fc2 sc0 ls48 ws0">
              межзаводской<span class="ff6 ls41"> </span
              ><span class="ls49">кооперации</span>
            </div>
            <div class="t m0 x1 h7 y1f ff5 fs2 fc2 sc0 ls4a ws0">ОАО</div>
            <div class="t m1 xb h9 y1f ff1 fs3 fc2 sc0 ls4b ws0">
              «<span class="ff2 ls4c">ПФ</span> «<span class="ff2 ls4d"
                >КМТ</span
              ><span class="ls4e">»</span>
            </div>
            <div class="t m1 x1 h9 y20 ff2 fs3 fc2 sc0 ls4f ws0">
              Моб<span class="ff1 ls50">. </span
              ><span class="ls51"
                >тел<span class="ff1 ls52">.: +7\~(960) 230 78 90</span></span
              >
            </div>
            <div class="t m1 x1 h8 y21 ff1 fs3 fc2 sc0 ls53 ws0">
              E-mail: <span class="fc1 ls54">ed.sychev@kscgroup.ru</span>
            </div>
            <div class="t m1 x1 h8 y22 ff1 fs3 fc1 sc0 ls4e ws0">
              h<span class="_ _4"> </span
              ><span class="ls55">ttp://kscgroup.ru/</span>
            </div>
            <div class="t m0 x1 h6 y23 ff4 fs1 fc0 sc0 ls3c ws0">\~</div>
            <div class="t m0 x1 h2 y24 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x1 h4 y25 ff1 fs0 fc0 sc0 ls56 ws0">
              -------- <span class="ff2 ls57">Конец</span
              ><span class="ls13">
                <span class="ff2 ls58">пересылаемого</span>
                <span class="ff2 ls59">сообщения</span></span
              >
              --------
            </div>
            <div class="t m0 x1 h2 y26 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x1 h2 y27 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x1 ha y28 ff7 fs1 fc3 sc0 ls5a ws0">\~</div>
            <div class="t m0 x1 hb y29 ff8 fs1 fc4 sc0 ls5b ws0">
              Надеемся<span class="ff9 ls5c"> </span
              ><span class="ls5d"
                >на<span class="ff9 ls5c"> </span
                ><span class="ls5e"
                  >дальнейшее<span class="ff9 ls5f"> </span
                  ><span class="ls60"
                    >плодотворное<span class="ff9 ls5f"> </span
                    ><span class="ls61"
                      >сотрудничество<span class="ff9 ls62">. </span
                      ><span class="ls63"
                        >Готовы<span class="ff9 ls5f"> </span
                        ><span class="ls64"
                          >вести<span class="ff9 ls5c"> </span
                          ><span class="ls65"
                            >диалог<span class="ff9 ls5f"> </span
                            ><span class="ls66"
                              >по<span class="ff9 ls5f"> </span
                              ><span class="ls67"
                                >срокам<span class="ff9 ls5f"> </span
                                ><span class="ls68"
                                  >и<span class="ff9 ls5f"> </span
                                  ><span class="ls69"
                                    >дополнительным<span class="ff9 ls5f">
                                      <span class="_ _5"></span
                                      ><span class="ff8 ls6a"
                                        >персональным</span
                                      ></span
                                    ></span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 hb y2a ff8 fs1 fc4 sc0 ls6b ws0">
              скидкам<span class="ff9 ls5f">.</span>
            </div>
            <div class="t m0 x1 hc y2b ff9 fs1 fc4 sc0 ls6c ws0">
              ___________________________________________________________
            </div>
            <div class="t m0 x1 hd y2c ff8 fs0 fc4 sc0 ls6d ws0">
              С<span class="ff9 ls6e"> </span
              ><span class="ls6f"
                >уважением<span class="ff9 ls6e">,</span></span
              >
            </div>
            <div class="t m0 x1 hd y2d ff8 fs0 fc4 sc0 ls70 ws0">
              Менеджер<span class="ff9 ls6e"> </span
              ><span class="ls71"
                >по<span class="ff9 ls6e"> </span
                ><span class="ls72"
                  >работе<span class="ff9 ls6e"> </span
                  ><span class="ls73"
                    >с<span class="ff9 ls74"> </span
                    ><span class="ls75">клиентами</span></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 hd y2e ff8 fs0 fc4 sc0 ls76 ws0">
              Ларина<span class="ff9 ls74"> </span
              ><span class="ls77">Татьяна</span>
            </div>
            <div class="t m0 x1 hd y2f ff8 fs0 fc4 sc0 ls78 ws0">
              ГК<span class="ff9 ls79"> &quot;</span
              ><span class="ls7a"
                >АКРОН<span class="ff9 ls7b">&quot;\~</span></span
              >
            </div>
            <div class="t m0 x1 he y30 ffa fs4 fc4 sc0 ls7c ws0">
              Изготавливаем<span class="ffb ls7d"> </span
              ><span class="ls7e"
                >металлоконструкции<span class="ffb ls7d"> </span
                ><span class="ls7f">и</span></span
              >
            </div>
            <div class="t m0 x1 he y31 ffa fs4 fc4 sc0 ls80 ws0">
              производим<span class="ffb ls81"> </span
              ><span class="ls82"
                >комплексную<span class="ffb ls81"> </span
                ><span class="ls83"
                  >металлообработку<span class="ffb ls84">\~</span></span
                ></span
              >
            </div>
            <div class="t m0 x1 hf y32 ff8 fs4 fc4 sc0 ls85 ws0">
              моб<span class="ff9 ls86">.\~+7-953-156-75-02,03</span>
            </div>
            <div class="t m0 x1 h10 y33 ff9 fs4 fc4 sc0 ls87 ws0">
              e-mail<span class="ls88"
                >:\~<span class="fc5 ls89">akron-l@yandex.ru</span></span
              >
            </div>
            <div class="t m0 x1 hf y34 ff8 fs4 fc4 sc0 ls8a ws0">
              Сайт<span class="ff9 ls8b"
                >: <span class="fc5 ls8c">https://laser-spb.ru</span></span
              >
            </div>
          </div>
          <div class="t m0 xc h11 y35 ffc fs5 fc0 sc0 ls1f ws0">Page 1</div>
          <div class="t m0 xd h11 y36 ffc fs5 fc0 sc0 ls1f ws0">6/26/2025</div>
          <a class="l" href="mailto:akron-l@yandex.ru"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 116px;
                bottom: 802px;
                width: 157px;
                height: 11px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="mailto:ed.sychev@kscgroup.ru"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 116px;
                bottom: 787px;
                width: 257px;
                height: 12px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="mailto:konstruktor.akronika@yandex.ru"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 61px;
                bottom: 584px;
                width: 155px;
                height: 11px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="mailto:konstruktor.akronika@yandex.ru"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 235px;
                bottom: 584px;
                width: 155px;
                height: 11px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="mailto:akron-l@yandex.ru"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 191px;
                bottom: 556px;
                width: 91px;
                height: 12px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="mailto:ed.sychev@kscgroup.ru"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 84px;
                bottom: 412px;
                width: 84px;
                height: 9px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="http://kscgroup.ru/"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 56px;
                bottom: 402px;
                width: 5px;
                height: 8px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="http://kscgroup.ru/"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 68px;
                bottom: 402px;
                width: 58px;
                height: 8px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="mailto:akron-l@yandex.ru"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 84px;
                bottom: 198px;
                width: 60px;
                height: 10px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="https://laser-spb.ru/"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 77px;
                bottom: 188px;
                width: 57px;
                height: 9px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div
          ></a>
        </div>
        <div
          class="pi"
          data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'
        ></div>
      </div>
      <div id="pf2" class="pf w0 h0" data-page-no="2">
        <div class="pc pc2 w0 h0">
          <img class="bi x0 y0 w1 h0" alt="" src="bg2.png" />
          <div class="c x8 y37 w4 h12">
            <div class="t m0 x1 hf y38 ff9 fs4 fc1 sc0 ls8d ws0">
              192289, <span class="ff8 ls8e">г</span
              ><span class="ls8b"
                >. <span class="ff8 ls8f">Санкт</span
                ><span class="ls90"
                  >-<span class="ff8 ls91">Петербург</span></span
                >, <span class="ff8 ls92">вн</span
                ><span class="ls7d"
                  >.<span class="ff8 ls93">тер</span
                  ><span class="ls81"
                    >.<span class="ff8 ls8e">г</span></span
                  ></span
                >. <span class="ff8 ls94">Муниципальный</span
                ><span class="ls7d">
                  <span class="ff8 ls95">Округ</span>
                  <span class="ff8 ls96">Александровский</span></span
                >, <span class="ff8 ls97">проезд</span
                ><span class="ls7d">
                  <span class="ff8 ls98">Гаражный</span></span
                >, <span class="ff8 ls99">д</span
                ><span class="ls9a"
                  >. 1, <span class="ff8 ls9b">литера</span
                  ><span class="ls7d">
                    <span class="_ _6"></span
                    ><span class="ff8 ls9c">В</span></span
                  ></span
                >, <span class="ff8 ls9d">офис</span
                ><span class="ls9e">
                  1<span class="ff8 ls9c">А<span class="_ _7"> </span></span
                  ><span class="fc0 ls7d"
                    >,<span class="fs6 fc4 ls9f">
                      <span class="lsa0"
                        >(<span class="ff3 lsa1"
                          >на<span class="ff4 lsa2"> </span
                          ><span class="lsa3"
                            >проходной<span class="ff4 lsa2"> </span
                            ><span class="lsa4">водителю</span></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 h13 y39 ff3 fs6 fc4 sc0 lsa5 ws0">
              нужно<span class="ff4 lsa6"> </span
              ><span class="lsa7"
                >взять<span class="ff4 lsa6"> </span
                ><span class="lsa8"
                  >пропуск<span class="ff4 lsa6"> </span
                  ><span class="lsa9"
                    >на<span class="ff4 lsa6"> </span
                    ><span class="lsaa"
                      >территорию<span class="ff4 lsab">, </span
                      ><span class="lsac"
                        >заполнить<span class="ff4 lsa6"> </span
                        ><span class="lsad"
                          >и<span class="ff4 lsa6"> </span
                          ><span class="lsae"
                            >у<span class="ff4 lsa2"> </span
                            ><span class="lsaf"
                              >нас<span class="ff4 lsa6"> </span
                              ><span class="lsb0"
                                >поставить<span class="ff4 lsa6"> </span
                                ><span class="lsb1"
                                  >печать<span class="ff4 lsa2">
                                  </span></span></span></span></span
                          >и<span class="ff4 lsa6"> </span
                          ><span class="lsa1"
                            >на<span class="ff4 lsa2"> </span
                            ><span class="lsb2"
                              >выезде<span class="ff4 lsa2"> </span
                              ><span class="lsb3"
                                >вернуть<span class="ff4 lsb4">)</span></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 h14 y3a ffd fs4 fc6 sc0 lsb5 ws0">
              Заказ<span class="ffe ls7d"> </span
              ><span class="lsb6"
                >отдается<span class="ffe ls7d"> </span
                ><span class="lsb7"
                  >в<span class="ffe ls7d"> </span
                  ><span class="lsb8"
                    >работу<span class="ffe ls7d"> </span
                    ><span class="lsb9"
                      >только<span class="ffe ls81">
                      </span></span></span></span></span
              >после<span class="ffe ls7d"> </span
              ><span class="lsba"
                >оплаты<span class="ffe ls81"> </span
                ><span class="lsbb"
                  >счета<span class="ffe ls90">!</span></span
                ></span
              >
            </div>
            <div class="t m0 x1 h14 y3b ffd fs4 fc6 sc0 lsbc ws0">
              Сумма<span class="ffe ls7d"> </span
              ><span class="lsbd"
                >минимального<span class="ffe ls7d"> </span
                ><span class="lsbe"
                  >заказа<span class="ffe ls81"> </span
                  ><span class="lsbf"
                    >составляет<span class="ffe lsc0"> 10 000 </span
                    ><span class="lsc1"
                      >рублей<span class="ffe ls90">!</span></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 h14 y3c ffd fs4 fc4 sc0 lsc2 ws0">
              Уважаемые<span class="ffe ls7d"> </span
              ><span class="ls1f"
                >партнеры<span class="ffe lsc3">! </span
                ><span class="lsc4"
                  >Информируем<span class="ffe ls7d"> </span
                  ><span class="lsc5"
                    >Вас<span class="ffe ls7d"> </span
                    ><span class="lsc6"
                      >о<span class="ffe ls7d"> </span
                      ><span class="lsc7"
                        >том<span class="ffe ls8b">, </span
                        ><span class="lsc8"
                          >что<span class="ffe ls7d"> </span
                          ><span class="lsc9"
                            >срок<span class="ffe ls81"> </span
                            ><span class="lsca"
                              >бесплатного<span class="ffe ls7d"> </span
                              ><span class="lscb"
                                >хранения<span class="ffe ls81"> </span
                                ><span class="lscc"
                                  >готовой<span class="ffe ls81"> </span
                                  >продукции<span class="ffe ls81"> </span
                                  ><span class="lscd"
                                    >составляет<span class="ffe lsce"> 7 </span
                                    ><span class="lscf"
                                      >календарных<span class="ffe ls7d"> </span
                                      ><span class="lsd0">дней</span></span
                                    ></span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 h14 y3d ffd fs4 fc4 sc0 lsb5 ws0">
              после<span class="ffe ls81"> </span
              ><span class="lsd1"
                >уведомления<span class="ffe ls7d"> </span
                ><span class="lsc6"
                  >о<span class="ffe ls7d"> </span
                  ><span class="lsd2"
                    >готовности<span class="ffe ls8b">, </span
                    ><span class="lsd3"
                      >далее<span class="ffe ls81"> </span
                      ><span class="lsd4"
                        >хранение<span class="ffe ls7d"> </span
                        ><span class="lsc8"
                          >платно<span class="ffe lsd5"> 300 </span
                          ><span class="lsd6"
                            >руб<span class="ffe ls8b">. </span
                            ><span class="lsd7"
                              >за<span class="ffe ls81"> </span
                              ><span class="lsd8"
                                >один<span class="ffe ls81"> </span
                                ><span class="lsd9"
                                  >календарный<span class="ffe ls7d"> </span
                                  ><span class="lsda"
                                    >день<span class="ffe ls81">.</span></span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 he y3e ffa fs4 fc4 sc0 lsdb ws0">
              Режим<span class="ffb ls7d"> </span
              ><span class="lsdc"
                >работы<span class="ffb ls81"> </span
                ><span class="lsdd"
                  >склада<span class="ffb ls81"> </span
                  ><span class="lsde"
                    >с<span class="ffb lsdf"> 8:30 </span
                    ><span class="lse0"
                      >до<span class="ffb lse1"> 16.00 </span
                      ><span class="lse2"
                        >часов<span class="ffb ls81">.</span></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 he y3f ffa fs4 fc4 sc0 lse3 ws0">
              Адрес<span class="ffb ls81"> </span
              ><span class="lsdd"
                >склада<span class="ffb lse4">: </span
                ><span class="lse5"
                  >СПб<span class="ffb ls81"> </span
                  ><span class="lse6"
                    >Гаражный<span class="ffb ls7d"> </span
                    ><span class="lse7"
                      >проезд<span class="ffb ls9e"> 1</span
                      ><span class="lse8"
                        >В<span class="ffb ls81">.</span></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 h14 y40 ffd fs4 fc4 sc0 lse9 ws0">
              Отгрузка<span class="ffe ls7d"> </span
              ><span class="lsea"
                >продукции<span class="ffe ls7d"> </span
                ><span class="lseb"
                  >возможна<span class="ffe ls81"> </span
                  ><span class="lsb9"
                    >только<span class="ffe ls7d"> </span
                    ><span class="lsc6"
                      >при<span class="ffe ls81"> </span
                      ><span class="lsec"
                        >наличии<span class="ffe ls81"> </span
                        ><span class="lsed"
                          >оригинала<span class="ffe ls7d"> </span
                          ><span class="lsee"
                            >доверенности<span class="ffe ls81"> </span
                            ><span class="ls7d"
                              >или<span class="ffe ls81"> </span
                              ><span class="lsef"
                                >печати<span class="ffe ls81"> </span
                                ><span class="lsf0"
                                  >организации<span class="ffe ls90"
                                    >!</span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x1 h2 y41 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x0 h2 y42 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x0 h4 y43 ff1 fs0 fc0 sc0 ls56 ws0">
              -------- <span class="ff2 ls57">Конец</span
              ><span class="ls13">
                <span class="ff2 ls58">пересылаемого</span>
                <span class="ff2 ls59">сообщения</span></span
              >
              --------
            </div>
            <div class="t m0 x0 h2 y44 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x0 h2 y45 ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
            <div class="t m0 x0 ha y46 ff7 fs1 fc3 sc0 ls5a ws0">\~</div>
            <div class="t m0 x0 hb y47 ff8 fs1 fc4 sc0 ls5b ws0">
              Надеемся<span class="ff9 ls5c"> </span
              ><span class="ls5d"
                >на<span class="ff9 ls5c"> </span
                ><span class="ls5e"
                  >дальнейшее<span class="ff9 ls5f"> </span
                  ><span class="ls60"
                    >плодотворное<span class="ff9 ls5f"> </span
                    ><span class="ls61"
                      >сотрудничество<span class="ff9 ls62">. </span
                      ><span class="ls63"
                        >Готовы<span class="ff9 ls5f"> </span
                        ><span class="ls64"
                          >вести<span class="ff9 ls5c"> </span
                          ><span class="ls65"
                            >диалог<span class="ff9 ls5f"> </span
                            ><span class="ls66"
                              >по<span class="ff9 ls5f"> </span
                              ><span class="ls67"
                                >срокам<span class="ff9 ls5f"> </span
                                ><span class="ls68"
                                  >и<span class="ff9 ls5f"> </span
                                  ><span class="ls69"
                                    >дополнительным<span class="ff9 ls5f">
                                      <span class="_ _5"></span
                                      ><span class="ff8 ls6a"
                                        >персональным<span class="ff9 ls5c">
                                        </span
                                        ><span class="lsf1"
                                          >скидкам<span class="ff9 ls5c"
                                            >.</span
                                          ></span
                                        ></span
                                      ></span
                                    ></span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 hc y48 ff9 fs1 fc4 sc0 ls6c ws0">
              ___________________________________________________________
            </div>
            <div class="t m0 x0 hd y49 ff8 fs0 fc4 sc0 ls6d ws0">
              С<span class="ff9 ls6e"> </span
              ><span class="ls6f"
                >уважением<span class="ff9 ls6e">,</span></span
              >
            </div>
            <div class="t m0 x0 hd y4a ff8 fs0 fc4 sc0 ls70 ws0">
              Менеджер<span class="ff9 ls6e"> </span
              ><span class="ls71"
                >по<span class="ff9 ls6e"> </span
                ><span class="ls72"
                  >работе<span class="ff9 ls6e"> </span
                  ><span class="ls73"
                    >с<span class="ff9 ls74"> </span
                    ><span class="ls75">клиентами</span></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 hd y4b ff8 fs0 fc4 sc0 ls76 ws0">
              Ларина<span class="ff9 ls74"> </span
              ><span class="ls77">Татьяна</span>
            </div>
            <div class="t m0 x0 hd y4c ff8 fs0 fc4 sc0 ls78 ws0">
              ГК<span class="ff9 ls79"> &quot;</span
              ><span class="ls7a"
                >АКРОН<span class="ff9 ls7b">&quot;\~</span></span
              >
            </div>
            <div class="t m0 x0 he y4d ffa fs4 fc4 sc0 ls7c ws0">
              Изготавливаем<span class="ffb ls7d"> </span
              ><span class="ls7e"
                >металлоконструкции<span class="ffb ls7d"> </span
                ><span class="ls7f">и</span></span
              >
            </div>
            <div class="t m0 x0 he y4e ffa fs4 fc4 sc0 ls80 ws0">
              производим<span class="ffb ls81"> </span
              ><span class="ls82"
                >комплексную<span class="ffb ls81"> </span
                ><span class="ls83"
                  >металлообработку<span class="ffb ls84">\~</span></span
                ></span
              >
            </div>
            <div class="t m0 x0 hf y4f ff8 fs4 fc4 sc0 ls85 ws0">
              моб<span class="ff9 ls86">.\~+7-953-156-75-02,03</span>
            </div>
            <div class="t m0 x0 h10 y50 ff9 fs4 fc4 sc0 ls87 ws0">
              e-mail<span class="ls88"
                >:\~<span class="fc5 ls89">akron-l@yandex.ru</span></span
              >
            </div>
            <div class="t m0 x0 hf y51 ff8 fs4 fc4 sc0 ls8a ws0">
              Сайт<span class="ff9 ls8b"
                >: <span class="fc5 lsf2">https://laser-spb.ru</span></span
              >
            </div>
            <div class="t m0 x0 hf y52 ff9 fs4 fc1 sc0 ls8d ws0">
              192289, <span class="ff8 lsf3">г</span
              ><span class="ls7d"
                >. <span class="ff8 ls8f">Санкт</span
                ><span class="lsbc"
                  >-<span class="ff8 lsf4">Петербург</span
                  ><span class="ls8b"
                    >, <span class="ff8 ls92">вн</span
                    ><span class="ls81"
                      >.<span class="ff8 ls93">тер</span></span
                    ></span
                  ></span
                >.<span class="ff8 lsf3">г</span
                ><span class="ls8b"
                  >. <span class="ff8 lsf5">Муниципальный</span></span
                >
                <span class="ff8 ls95">Округ</span>
                <span class="ff8 ls96">Александровский</span
                ><span class="ls8b"
                  >, <span class="ff8 ls97">проезд</span
                  ><span class="ls81">
                    <span class="ff8 lsf6">Гаражный</span></span
                  >, <span class="ff8 lsf7">д</span
                  ><span class="lsf8"
                    >. 1, <span class="ff8 ls9b">литера</span
                    ><span class="ls81">
                      <span class="ff8 ls9c">В</span></span
                    ></span
                  >, <span class="ff8 lsdf">офис</span
                  ><span class="ls9e">
                    1<span class="ff8 ls9c"
                      >А<span class="_ _4"> </span></span></span></span
                ><span class="fc0"
                  >,<span class="fs6 fc4 ls9f">
                    <span class="lsa0"
                      >(<span class="ff3 lsa1"
                        >на<span class="ff4 lsa2"> </span
                        ><span class="lsa3"
                          >проходной<span class="ff4 lsa2"> </span
                          ><span class="lsa4"
                            >водителю<span class="ff4 lsa6"> </span
                            ><span class="lsa5"
                              >нужно<span class="ff4 lsa6"> </span
                              ><span class="lsa7">взять</span></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 h13 y53 ff3 fs6 fc4 sc0 lsa8 ws0">
              пропуск<span class="ff4 lsa6"> </span
              ><span class="lsa9"
                >на<span class="ff4 lsa6"> </span
                ><span class="lsaa"
                  >территорию<span class="ff4 lsab">, </span
                  ><span class="lsac"
                    >заполнить<span class="ff4 lsa2"> </span
                    ><span class="lsf9"
                      >и<span class="ff4 lsa2"> </span
                      ><span class="lsfa"
                        >у<span class="ff4 lsa2"> </span
                        ><span class="lsaf"
                          >нас<span class="ff4 lsa6"> </span
                          ><span class="lsb0"
                            >поставить<span class="ff4 lsa6"> </span
                            ><span class="lsfb"
                              >печать<span class="ff4 lsa6"> </span
                              ><span class="lsad"
                                >и<span class="ff4 lsa6"> </span
                                ><span class="lsa1"
                                  >на<span class="ff4 lsa2"> </span
                                  ><span class="lsb2"
                                    >выезде<span class="ff4 lsa2"> </span
                                    ><span class="lsfc"
                                      >вернуть<span class="ff4 lsfd"
                                        >)</span
                                      ></span
                                    ></span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 h14 y54 ffd fs4 fc6 sc0 lsb5 ws0">
              Заказ<span class="ffe ls7d"> </span
              ><span class="lsb6"
                >отдается<span class="ffe ls7d"> </span
                ><span class="lsb7"
                  >в<span class="ffe ls7d"> </span
                  ><span class="lsb8"
                    >работу<span class="ffe ls7d"> </span
                    ><span class="lsb9"
                      >только<span class="ffe ls81">
                      </span></span></span></span></span
              >после<span class="ffe ls7d"> </span
              ><span class="lsba"
                >оплаты<span class="ffe ls81"> </span
                ><span class="lsbb"
                  >счета<span class="ffe ls90">!</span></span
                ></span
              >
            </div>
            <div class="t m0 x0 h14 y55 ffd fs4 fc6 sc0 lsbc ws0">
              Сумма<span class="ffe ls7d"> </span
              ><span class="lsbd"
                >минимального<span class="ffe ls7d"> </span
                ><span class="lsbe"
                  >заказа<span class="ffe ls81"> </span
                  ><span class="lsbf"
                    >составляет<span class="ffe lsc0"> 10 000 </span
                    ><span class="lsc1"
                      >рублей<span class="ffe ls90">!</span></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 h14 y56 ffd fs4 fc4 sc0 lsc2 ws0">
              Уважаемые<span class="ffe ls7d"> </span
              ><span class="ls1f"
                >партнеры<span class="ffe lsc3">! </span
                ><span class="lsc4"
                  >Информируем<span class="ffe ls7d"> </span
                  ><span class="lsc5"
                    >Вас<span class="ffe ls7d"> </span
                    ><span class="lsc6"
                      >о<span class="ffe ls7d"> </span
                      ><span class="lsc7"
                        >том<span class="ffe ls8b">, </span
                        ><span class="lsc8"
                          >что<span class="ffe ls7d"> </span
                          ><span class="lsc9"
                            >срок<span class="ffe ls81"> </span
                            ><span class="lsca"
                              >бесплатного<span class="ffe ls7d"> </span
                              ><span class="lscb"
                                >хранения<span class="ffe ls81"> </span
                                ><span class="lscc"
                                  >готовой<span class="ffe ls81"> </span
                                  >продукции<span class="ffe ls81"> </span
                                  ><span class="lscd"
                                    >составляет<span class="ffe lsce"> 7 </span
                                    ><span class="lscf"
                                      >календарных<span class="ffe ls7d"> </span
                                      ><span class="lsd0"
                                        >дней<span class="ffe ls7d"> </span
                                        ><span class="lsb5">после</span></span
                                      ></span
                                    ></span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 h14 y57 ffd fs4 fc4 sc0 lsd1 ws0">
              уведомления<span class="ffe ls7d"> </span
              ><span class="lsc6"
                >о<span class="ffe ls81"> </span
                ><span class="lsd2"
                  >готовности<span class="ffe ls8b">, </span
                  ><span class="lsd3"
                    >далее<span class="ffe ls7d"> </span
                    ><span class="lsd4"
                      >хранение<span class="ffe ls81"> </span
                      ><span class="lsfe"
                        >платно<span class="ffe lsd5"> 300 </span
                        ><span class="lse5"
                          >руб<span class="ffe ls7d">. </span
                          ><span class="lsff"
                            >за<span class="ffe ls7d"> </span
                            ><span class="lsc8"
                              >один<span class="ffe ls7d"> </span
                              ><span class="lsd9"
                                >календарный<span class="ffe ls81"> </span
                                ><span class="lsda"
                                  >день<span class="ffe ls7d">.</span></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 he y58 ffa fs4 fc4 sc0 lsdb ws0">
              Режим<span class="ffb ls7d"> </span
              ><span class="lsdc"
                >работы<span class="ffb ls81"> </span
                ><span class="lsdd"
                  >склада<span class="ffb ls81"> </span
                  ><span class="lsde"
                    >с<span class="ffb lsdf"> 8:30 </span
                    ><span class="lse0"
                      >до<span class="ffb lse1"> 16.00 </span
                      ><span class="lse2"
                        >часов<span class="ffb ls81">.</span></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 he y59 ffa fs4 fc4 sc0 lse3 ws0">
              Адрес<span class="ffb ls81"> </span
              ><span class="lsdd"
                >склада<span class="ffb lse4">: </span
                ><span class="lse5"
                  >СПб<span class="ffb ls81"> </span
                  ><span class="lse6"
                    >Гаражный<span class="ffb ls7d"> </span
                    ><span class="lse7"
                      >проезд<span class="ffb ls9e"> 1</span
                      ><span class="lse8"
                        >В<span class="ffb ls81">.</span></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 h14 y5a ffd fs4 fc4 sc0 lse9 ws0">
              Отгрузка<span class="ffe ls7d"> </span
              ><span class="lsea"
                >продукции<span class="ffe ls7d"> </span
                ><span class="lseb"
                  >возможна<span class="ffe ls81"> </span
                  ><span class="lsb9"
                    >только<span class="ffe ls7d"> </span
                    ><span class="lsc6"
                      >при<span class="ffe ls81"> </span
                      ><span class="lsec"
                        >наличии<span class="ffe ls81"> </span
                        ><span class="lsed"
                          >оригинала<span class="ffe ls7d"> </span
                          ><span class="lsee"
                            >доверенности<span class="ffe ls81"> </span
                            ><span class="ls7d"
                              >или<span class="ffe ls81"> </span
                              ><span class="lsef"
                                >печати<span class="ffe ls81"> </span
                                ><span class="lsf0"
                                  >организации<span class="ffe ls90"
                                    >!</span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div class="t m0 x0 h2 y5b ff1 fs0 fc0 sc0 ls1c ws0">\~</div>
          </div>
          <div class="t m0 xc h11 y35 ffc fs5 fc0 sc0 ls1f ws0">Page 2</div>
          <div class="t m0 xd h11 y36 ffc fs5 fc0 sc0 ls1f ws0">6/26/2025</div>
          <a
            class="l"
            href="https://yandex.ru/maps/?source=exp-counterparty_entity&amp;text=192289,%20%D0%B3.%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,%20%D0%B2%D0%BD.%D1%82%D0%B5%D1%80.%D0%B3.%20%D0%9C%D1%83%D0%BD%D0%B8%D1%86%D0%B8%D0%BF%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9%20%D0%9E%D0%BA%D1%80%D1%83%D0%B3%20%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,%20%D0%BF%D1%80%D0%BE%D0%B5%D0%B7%D0%B4%20%D0%93%D0%B0%D1%80%D0%B0%D0%B6%D0%BD%D1%8B%D0%B9,%20%D0%B4.%201,%20%D0%BB%D0%B8%D1%82%D0%B5%D1%80%D0%B0%20%D0%92,%20%D0%BE%D1%84%D0%B8%D1%81%201%D0%90,%20%D1%80%D0%B0%D0%B1.%20%D0%BC%D0%B5%D1%81%D1%82%D0%BE%201"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 56px;
                bottom: 667px;
                width: 399px;
                height: 9px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="mailto:akron-l@yandex.ru"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 58px;
                bottom: 377px;
                width: 60px;
                height: 9px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a class="l" href="https://laser-spb.ru/"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 51px;
                bottom: 366px;
                width: 58px;
                height: 10px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div></a
          ><a
            class="l"
            href="https://yandex.ru/maps/?source=exp-counterparty_entity&amp;text=192289,%20%D0%B3.%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,%20%D0%B2%D0%BD.%D1%82%D0%B5%D1%80.%D0%B3.%20%D0%9C%D1%83%D0%BD%D0%B8%D1%86%D0%B8%D0%BF%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9%20%D0%9E%D0%BA%D1%80%D1%83%D0%B3%20%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,%20%D0%BF%D1%80%D0%BE%D0%B5%D0%B7%D0%B4%20%D0%93%D0%B0%D1%80%D0%B0%D0%B6%D0%BD%D1%8B%D0%B9,%20%D0%B4.%201,%20%D0%BB%D0%B8%D1%82%D0%B5%D1%80%D0%B0%20%D0%92,%20%D0%BE%D1%84%D0%B8%D1%81%201%D0%90,%20%D1%80%D0%B0%D0%B1.%20%D0%BC%D0%B5%D1%81%D1%82%D0%BE%201"
            ><div
              class="d m2"
              style="
                border-style: none;
                position: absolute;
                left: 30px;
                bottom: 193px;
                width: 399px;
                height: 10px;
                background-color: rgba(255, 255, 255, 0.000001);
              "
            ></div
          ></a>
        </div>
        <div
          class="pi"
          data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'
        ></div>
      </div>
    </div>
    <div class="loading-indicator"></div>
  </body>
</html>
